body {
    background: white;
}

.mission-module{
    position: relative;
}

.mission-statement{
    height: 100%;
    width: 100%;
<<<<<<< HEAD
    text-align: center;
    color: red; 
    font-family: 'Ubuntu', sans-serif;

}

.logo{
    height: 60;
    width: 180;
    background: url("../assets/images/cultiv8_logo.png");
=======
    margin-top: 20%;
    font-size: large;
    text-align: center;
    color: white; 
<<<<<<< HEAD
>>>>>>> 7c7e6667cc87b938a165971aed85bb77f2a49ed9
=======
    font-family: 'Ubuntu', sans-serif;
}

h1{
    font-size: 150px;
}

.navbar-nav{
    padding-left: 65%;
>>>>>>> 47554b7e8a23846e79c913b4d5b7aaed6ff4f8eb
}

