body {
    font-family: 'Ubuntu', sans-serif;
}

.background {
    /* opacity: 0.5; */
    background-image: url("../images/ThisIsOurs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;  
    min-height: 900px;
}

.mission-module{
    position: relative;
}

.mission-statement{
    height: 100px;
    width: 100%;
    /* margin-top: 20%; */
    font-size: large;
    text-align: center;
    color: white; 
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 300px;
}

h1{
    font-size: 150px;
}

.navbar-nav{
    padding-left: 55%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

h2{
    font-size: 50px;
}

h3{
    padding-top: 850px;
    text-align: center;
    font-size: 60px;
    color: black;
}

h4{
    font-size: 65px;
    padding-top: 65px;
    color: #E67E22;
    text-align: center;
}

h5{
    font-size: 50px;
    color: #e74c3c;
    text-align: center;
    padding-bottom: 100px;
}

h6{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.navbar-nav{
    padding-left: 60%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: white !important;
    opacity: 90%;
}

.nav-item{
    color: white !important;
}

.form-control{
    width: 75%;
    border-radius: 40px;
    border-width: thin;
    border-color: white;
    color: white;
    background: none;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.form-group{
    width:100%;
}

.btn-light{
    background-color: floralwhite;
    padding-right: 30px;
    padding-left: 30px;
}

input[placeholder]::-webkit-input-placeholder{
    text-align: center;
    font-weight: lighter;
    color: white;
    opacity: .5;
}

.centerbox{
    display: inline-block;
    height: 100%;
    width: 100%;
}

.btn1{
    border-radius: 25px;
    margin-left: 10%;
}

.btn2{
    border-radius: 25px;
}

/* Create two equal columns that floats next to each other */
.column {
    text-align: center;
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 200px;
    height: 500px; /* Should be removed. Only for demonstration */
}

.column2 {
    text-align: center;
    float: left;
    width: 50%;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 75px;
    height: 500px; /* Should be removed. Only for demonstration */
}

.column3 {
    text-align: center;
    float: left;
    width: 50%;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 75px;
    height: 500; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #E7E7E7;
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: grey;
}

.img-circle {
    border-radius: 50%;
}
.img-circle {
    border-radius: 0;
}

.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.square{
    width: 35%;
    border: 5px solid rgb(219, 206, 14);
    padding: 15px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    display: block;
}