body {
    font-family: 'Ubuntu', sans-serif;
}

.background {
    /* opacity: 0.5; */
    background-image: url("../images/ThisIsOurs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;  
    min-height: 900px;
}

.mission-module{
    position: relative;
}

.mission-statement{
    height: 100px;
    width: 100%;
    /* margin-top: 20%; */
    font-size: large;
    text-align: center;
    color: white; 
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 300px;
}

h1{
    font-size: 150px;
}

h2{
    font-size: 50px;
}

h3{
    padding-top: 700px;
    text-align: center;
    font-size: 60px;
    color: black;
}

.navbar-nav{
    padding-left: 60%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: white !important;
    opacity: 90%;
}

.nav-item{
    color: white !important;
}

.btn{
    border-radius: 25px;
    margin-left: 10%;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    text-align: center;
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 100px;
    height: 500px; /* Should be removed. Only for demonstration */
}

.column2 {
    text-align: center;
    float: left;
    width: 50%;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    height: 500px; /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #E7E7E7;
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: grey;
}



.img-circle {
    border-radius: 50%;
}
.img-circle {
    border-radius: 0;
}

.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}